@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html {
  font-size: 15px;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
  display: flex;
}

@layer components {
  .btn-landing {
    @apply bg-white text-black py-3 px-11 font-normal text-sm cursor-pointer flex items-center justify-center outline-none rounded-3xl w-[300px] h-[40px] mb-2;
  }
}
